{% extends 'base.html' %}
{% load bootstrap %}

{% block title %} Pagina de Login {% endblock %}

{% block main %}

        <div class="row">
        <div class="col-md-auto">
            <br><h2>Login</h2> <br>
            <form method="POST">
                {% csrf_token %}
                {{ form|bootstrap }}
                <button type="submit" class="btn btn-info">Login</button>
            </form>
        </div>

{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="container">
        <span class="text-muted">Desenvolvimento Web Django</span>
        </div>
    </footer>
{% endblock %}